.recipePic {

    object-fit: cover;
    width: 100%;
    height: 25em;
    object-position:  center 40%;

}

.mainContainer {
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;

}

.picContainer {
    border: solid pink;
    width: 80%; 

}

/* --------------------------------- */



/* -------------------start-Nico-css-jetz-Suat-css-:D------------------------------- */
/* -------------------start-Nico-css-jetz-Suat-css-:D------------------------------- */
/* -------------------start-Nico-css-jetz-Suat-css-:D------------------------------- */

#background {
    background-color: rgb(67, 67, 67);
    height: 32vh;
    /*width: 100%;
    margin-top: 15vh;
    bottom: 0;
    position: absolute; :)*/
}

#firsttitle {
    margin-bottom: 5%;
}

.footerMargin {
    margin-bottom: 5%;
}

.form-label {
    color: white;
}